{% extends "../_layout.html" %}

{% block content %}
  <h1>{{ title }}</h1>

  <a class="btn btn-primary" href="/jobs/new">New Job</a>
  <table class="table table-striped table-hover">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Company</th>
      <th>Email</th>
      <th>Contacted</th>
      <th></th>
      <th></th>
    </tr>
    {% for job in jobs %}
    <tr>
      <td>{{ job.id }}</td>
      <td>{{ job.title }}</td>
      <td>{{ job.description }}</td>
      <td>{{ job.company }}</td>
      <td>{{ job.email }}</td>
      <td>{{ "yes" if job.contacted === true else "no" }}</td>
      <td><a class="btn btn-warning" href="jobs/{{job.id}}/update">Update</a></td>
      <td><a class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
